@import url("https://fonts.googleapis.com/css?family=Rubik:500");
.aside {
  border-right: 2px solid black;
  display: flex;
  flex-direction: column;
  gap: 50px;
  height: 100vh;
  width: 200px;
  position: fixed;
  left: 0;
  top: 0;
  align-items: center;
}
.aside__logo {
  margin-top: 10px;
  border-radius: 50%;
  transition: transform 0.8s ease-in-out;
  cursor: pointer;
}
.aside__logo:hover {
  transform: rotate(360deg);
}
.aside__people {
  margin-bottom: 50px;
}
.aside__ship {
  margin-bottom: 20px;
}
.aside__buttons {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  margin-bottom: 240px;
}
.aside__exit {
  cursor: pointer;
  height: 130px;
  width: 130px;
}

.bt {
  display: flex;
  align-items: center;
  padding: 20px 42px;
  border-radius: 5px;
  box-shadow: 0px 0px 12px -2px rgba(0, 0, 0, 0.5);
  line-height: 1.25;
  background: #FC6E51;
  text-decoration: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  color: white;
  font-size: 16px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  position: relative;
  transition: background-color 0.6s ease;
  overflow: hidden;
}
.bt:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  top: 50%;
  left: 50%;
  top: var(--mouse-y);
  left: var(--mouse-x);
  transform-style: flat;
  transform: translate3d(-50%, -50%, 0);
  background: rgba(255, 255, 255, 0.1);
  border-radius: 100%;
  transition: width 0.3s ease, height 0.3s ease;
}
.bt:focus, .bt:hover {
  background: #fb512e;
}
.bt:active:after {
  width: 300px;
  height: 300px;
}

.button {
  cursor: pointer;
  display: inline-block;
  padding: 1rem 2rem;
  border-radius: 10rem;
  color: #fff;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.15rem;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.button:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0cf;
  border-radius: 10rem;
  z-index: -2;
}
.button:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #008fb3;
  transition: all 0.3s;
  border-radius: 10rem;
  z-index: -1;
}
.button:hover {
  color: #fff;
}
.button:hover:before {
  width: 100%;
}

.main {
  display: grid;
}
.main__content {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr 2fr 2fr;
  gap: 13px;
  height: 100%;
  margin-left: 200px;
}
.main__item {
  width: 190px;
  height: 315px;
  border: 2px solid black;
  display: flex;
  margin: 4px;
  margin-top: 5px;
  border-radius: 15px;
  position: relative;
}
.main__item-planet {
  justify-content: center;
  margin-left: 170px;
  margin-top: 40px;
  width: 750px;
  height: 600px;
  border-radius: 15px;
  display: flex;
  border: 2px solid black;
  position: relative;
  background: linear-gradient(90deg, #5d5fef, #ba33b5);
}
.main__planet-info {
  display: flex;
  align-items: center;
  text-shadow: 2px 2px 4px rgba(11, 18, 235, 0.5);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 50px;
  padding-left: 30px;
  justify-content: space-evenly;
  flex-direction: column;
}
.main__btn {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  margin: 5px;
  width: 69px;
  font-size: 8px;
  align-content: center;
}
.main__info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: center;
  font-size: 12px;
  font-size: 13px;
  color: inherit;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
}
.main__info:hover {
  text-shadow: 1px 1px 0 gold;
  color: inherit;
}
.main__badge {
  position: absolute;
  padding: 2px;
  background-color: red;
  border-radius: 20px;
  top: -8px;
  right: -12px;
  cursor: pointer;
  transition: all 1s;
  border: 3px solid steelblue;
}
.main__badge:after {
  content: "";
  display: block;
  position: relative;
  width: 100%;
  border-bottom: 3px solid steelblue;
  bottom: 0.15em;
  transition: all 1s;
  border-radius: 20px;
}
.main__badge:hover:after {
  width: 0%;
  border-bottom-width: 1px;
  text-shadow: 1px 1px 0 gold;
}

.main__btn .btn {
  opacity: 1;
  outline: 0;
  color: #fff;
  line-height: 40px;
  position: relative;
  text-align: center;
  letter-spacing: 1px;
  display: inline-block;
  text-decoration: none;
  font-family: "Open Sans";
  text-transform: uppercase;
  cursor: pointer;
}
.main__btn .btn:hover:after {
  opacity: 1;
  transform: translateY(0) rotateX(0);
}
.main__btn .btn:hover:before {
  opacity: 0;
  transform: translateY(50%) rotateX(90deg);
}
.main__btn .btn:after {
  top: 0;
  left: 0;
  opacity: 0;
  min-width: 100%;
  color: #323237;
  display: block;
  transition: 0.5s;
  position: absolute;
  background: #e7a012;
  content: attr(data-back);
  transform: translateY(-50%) rotateX(90deg);
}
.main__btn .btn:before {
  top: 0;
  left: 0;
  opacity: 1;
  color: #adadaf;
  display: block;
  padding: 0 10px;
  line-height: 40px;
  transition: 0.5s;
  position: relative;
  background: #323237;
  content: attr(data-front);
  transform: translateY(0) rotateX(0);
}

.body {
  position: relative;
  height: 100%;
  grid-template-columns: 15% 85%;
  background-image: url("/img/ocean.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}/*# sourceMappingURL=style.css.map */